<div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="..." style="width: 200px; height: auto;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Services we provide:</h5>
          <p class="card-text">We are 4Geek students and we provide the following services...</p>
        
        <ul>
          <li>JavaScript development</li>
          <li>Updating and renovating sites</li>
          <li>Building in functionality and responsiveness</li>       
          <li>Creating the architecture and content of a site </li> 
          <li>Coding new pages and website elements for client approval and installation</li>
          <li>Testing new website elements across various search engines and devices</li>
          <li>Migrating successful website elements to live sites when testing is successful</li>
        </ul>
      
           
        </div>
      </div>
    </div>
  </div> >  